{% extends "base.html" %}

{% block userblock %}
<ul class="nav navbar-nav navbar-right">
    <li> <div class="nickname" id="blink7">{{ username }} </div> </li>
    <li><a href="{{ url.log_out }} ">Log out </a></li>
    <li><a href="{{ url.settings }}">Settings </a></li>
</ul>
<ul class="nav navbar-nav navbar-right">
    <li><img src="http://lorempixel.com/50/50/?v=284245" class="img-circle"></li>
</ul>
{% endblock %}

{% block content %}
{% if hot_question %}
<div class = "starter-template full-width">
    <div class="row">
      <div class="col-md-2"><h2> New questions</h2>
      </div>
      <div class="col-md-2">
        <h2> <a href="{{ url.hot }}"> Hot question </a> </h2>
      </div>
    </div>
</div>
{% endif %}

{% if tag_block %}
<div class = "starter-template full-width">
    <div class="row">
      <div class="col-md-2">
        <h2> Question with tag: {{ tag_value }} </h2>
      </div>
    </div>
</div>
{% endif %}


<div class= "starter-template question">
    <div class="left-panel">
      <div class="panel-body">
{% for question in question_list %}
<div class="well row vertical-align">
    <div class="col-md-2">
        <p> <img src="http://lorempixel.com/50/50/?v={{ question.user_url }}" class="img-thumbnail"> </p> <br>
        <span style="text-align: center;"> {{ question.user }} </span>
        <p id="value1"> {{ question.rating }} </p>
        <button class="btn" type="submit" value="{{ question.rating }}">
            <span class="glyphicon glyphicon-thumbs-up"></span>
        </button>
        <button class="btn mybtn" type="submit" value="{{ question.rating }}">
            <span class="glyphicon glyphicon-thumbs-down"></span>
        </button>
    </div>

      <div class="col-md-10">
        <a href="/question/{{ question.id }}/" class="text-center"><h3>{{ question.title }}</h3></a>
        <p class="text-left">
            {{ question.text }}
        </p>
        <p class="text-left">
          <span class="glyphicon glyphicon-calendar"></span> {{ question.published }} |
          <span class="glyphicon glyphicon-tags"></span> Tags:
            {% for tag in question.tags %}
            <a href="/tag/{{ tag }}/"> {{ tag }} </a>
            {% endfor %}
          <a href="/question/{{ question.id }}/" style="float:right; margin-left: 3px;"> answer({{ question.answers }}) </a>
          <span class="glyphicon glyphicon-comment" style="float:right;"></span>
        </p>
      </div>

</div>

{% endfor %}
{% include "paginate.html" %}
        </div>
    </div>
</div>
{% endblock %}