<div class="panel-body">
    <div class="row vertical-align">
        <div class="col-md-12">
            <ul class="pagination" align="center">
                <li><a href="#">← </a></li>
                <li class="active"><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li class="disabled"><a href="#"> ..</a></li>
                <li><a href="#">20</a></li>
                <li><a href="#">→</a></li>
            </ul>
        </div>
    </div>
</div>