<div class="panel-body">
    <div class="row vertical-align">
        <div class="col-md-12">
            <ul class="pagination" align="center">
                {% if paginated.has_previous %}
                <li>
                    <a href="?page={{ paginated.previous_page_number }}"> &laquo; </a>
                </li>
                {% endif %}
                <li><a><span class="current">
                    {{ paginated }}
                </span></a></li>
                {% if paginated.has_next %}
                <li>
                    <a href="?page={{ paginated.next_page_number }}"> &raquo; </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>